<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To-Do lists</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/base.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <a class="navbar-brand" href="/">Superlists</a>
                <a class="btn navbar-btn navbar-right" id="id_login" href="#">Sign in</a>
            </nav>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 jumbotron">
                    <div class="text-center">
                        <h1>{% block header_text %}{% endblock %}</h1>
                        <form method="POST" action="{% block form_action %}{% endblock %}">
                            {{ form.text }}
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="form-group has-error">
                                    <span class="help-block">{{ form.text.errors }}</span>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                    {% block table %}
                    {% endblock %}
                </div>
            </div>
        </div>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="/static/accounts.js"></script>
    <script src="/static/list.js"></script>
    <script>
        $(document).ready(function(){
            var user = "{{  user.email }}" || null;
            var token = "{{ csrf_token }}";
            var urls = {
                login: "TODO",
                logout: "TODO",
            };
            Superlists.Accounts.initialize(navigator, user, token, urls);
        });
    </script>
    </body>
</html>
